@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: Lato, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

.max-80-vh {
    max-height: 80vh;
}

.max-18-vh {
  max-height: 18vh;
}

.max-2-vh {
  max-height: 2vh;
}