@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: Lato, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  background-color: #f3f4f6;
}
/*#1e3a8a*/
@layer components{
  .selectedOption{
     @apply border-blue-400 border shadow rounded bg-blue-400 text-white font-bold
  }

  .title{
    @apply uppercase text-gray-600 font-bold
  }
}

.max-70-vh {
    max-height: 70vh;
}

.max-18-vh {
  max-height: 18vh;
}

.max-2-vh {
  max-height: 2vh;
}